<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>template</title>
</head>
<script src="https://code.jquery.com/jquery-2.2.1.min.js" type="text/javascript"></script>
<body>
    <script type="text/javascript">
    var START = '<%',
        END = '%>',
        cache = {};

    function tpl() {
        return function tmpl() {
            var args = Array.prototype.slice.call(arguments),
                str = $(this).html(),
                selector = $(this).selector, // 以选择符作缓存
                data,
                s, e;

            if (args.length == 2 && $.type(args[0]) == 'string' && $.type(args[1]) == 'string' && args[0].length == 2 && args[1].length == 2) { // 自定义开始结束标签, 并且开始结束符必须为两位(不要使用正则敏感符号)
                s = args[0];
                e = args[1];
                data = args[2];
            } else {
                s = START;
                e = END;
                data = args[0];
            }

            // 提取开始结束符的分界符, <% -- %;  %> -- %
            var s_sep = s.substr(s.length - 1),
                e_sep = e.substr(0, 1);

            // 正则匹配
            var reg = new RegExp(s + "=(.+?)" + e, "g"), // /<%=(.+?)%>/g
                reg_e = new RegExp("'(?=[^" + e_sep + "]*" + e + ")", "g"); // /'(?=[^%]*%>)/g

            /*var tmplFn = function(obj){
                    
                    var p=[],print=function(){p.push.apply(p,arguments);};

                    with(obj){
                        p.push(
                            str.replace(/[\r\t\n]/g, " ")
                            .replace(reg_e, "\t")
                            .split("'").join("\\'")
                            .split("\t").join("'")
                            .replace(reg, "',$1,'")
                            .split(s).join("');")
                            .split(e)
                            .join("p.push('"););
                        };

                    return p.join('');
            }    */

            /*var tplFn = function(obj){
                var p = [];
                with(obj){
                    p.push(str.replace(/[\r\t\n]/g, " ")
                    .replace(reg_e, "\t")
                    .split("'").join("\\'")
                    .split("\t").join("'")
                    .replace(reg, "',$1,'")
                    .split(s).join("');")
                    .split(e)
                    .join("p.push('"));
                };
                return p.join('');
            }*/

            var fn = cache[selector] || /*tplFn;*/
                // generator (and which will be cached).
                new Function("obj", "var p=[];" +

                    // Introduce the data as local variables using with(){}
                    "with(obj){p.push('" +
                    str.replace(/[\r\t\n]/g, " ")
                    .replace(reg_e, "\t")
                    .split("'").join("\\'")
                    .split("\t").join("'")
                    .replace(reg, "',$1,'")
                    .split(s).join("');")
                    .split(e)
                    .join("p.push('") +
                    "');}return p.join('');");

            // cache
            cache[selector] = fn;

            // Provide some basic currying to the user
            return data ? fn(data) : fn;
        };
    }

    $.fn.template = tpl();
    </script>


    <script type="text/template" id="myTmpl">
        <div id='<%=tplId%>'><%=tplContent%></div>
    </script>
    <div id="myTmplContent"></div>

    <script type="text/javascript">

        $("#myTmplContent").html($("#myTmpl").template({
            "tplId": "idx",
            "tplContent": "test"
        }));
    </script>
</body>

</html>
